/* ROOT VARIBLE VALUES */
:root 
{ /*  Defining base theme and styling content here.  More explicit var names are within elements below. (See body for ex.) */

    /* -------------------------------------------- */
    /*              Color Theme                     */

    --c_00: #000102; /* very dark-blue-black used for borders and fonts */
    --c_01: #0b132b;
    --c_02: #172a35; /* primary theming color */
    /* --c_02: #0e1b22; */
    --c_03: #6ffffc;
    --c_04: #6fffe9; /* priamry accent color */
    --c_05: #F9F9F9; /* body bg defalt and overall just faded */
    --c_06: #fefdff; /* section bg default and used for making content pop-out a bit more */

    /* -------------------------------------------- */
    /*                Alpha Colors                  */

    --a_01: rgba(0 0 0 /.25);
    --a_02: rgba(0 0 0 /.5);

    /* -------------------------------------------- */
    /*          Shadows & Box Shadows               */

    /* Shadows */
    --s_black_a25: 0 0 .5rem var(--a_01);
    --s_black_2px_a25: 2px solid var(--a_01);
    
    /* Box Shadows  ( offset-x | offset-y | blur-radius | color ) */
    /* --bs_even_a01_lt: .3rem .3rem .3rem var(--a_01); */
    --bs_even_a01_lt: 0rem 0rem .5rem rgba(0 0 0 / .3), 0 0 .2rem rgba(0 0 0 / .3);
    --bs_even_a01_hvy: 0 0rem .5rem var(--a_01);


    /* -------------------------------------------- */
    /*          border and Border Radius            */
    
    /* Borders */
    --b_01: 1px solid var(--c_00); /* default border and font color */ 
    --b_02: 1px solid var(--c_01); /* secondary for more obvious accents */
    --b_03: 1px solid var(--c_02); /* secondary for more obvious accents */
    --b_03_focus: 2px solid var(--c_02); /* secondary for more obvious accents hovered */
    --b_04: 1px solid var(--a_01); /* secondary for more obvious accents */
    --b_05: 1px solid var(--c_05); /* default border and font color */ 
    --b_06: 1px solid var(--c_06); /* default border and font color */ 

    /* Border Radius */
    --br_05: .5rem;
    --br_25: .25rem;
}

/*------------------------------------------------------------------------------
Universal Elements                                                            */

*, *::before, *::after
{ /* Keeps elements from overflowing containers */
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
    /* Disabling user selection */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    padding: 0;
    margin: 0;
}

body {
    /*
         BODY VARIABLES
    */

    /* Backgrounds */
    --body_bg: var(--c_05); /* off-white to make it fade out of attention */    
    --section_bg: var(--c_06); /* Lighter color to make it pop-out a bit more  */

    /* Accent Colors */
    --accent_p: var(--c_04); /* primary accent color */

    /*  Titles  */
    --title_bg_dark: var(--c_02); /* title background color dark */
    --title_fc_light: var(--c_06); /* title font color light */
    --title_fc_dark: var(--c_01); /* title font color dark */

    /* Font Colors */
    --body_fc_dark: var(--c_00);
    --body_fc_darkblue: var(--c_01);
    --body_fc_light: var(--c_06);
    --body_fc_light_active: var(--c_03);

    /*
         BODY STYLING
    */

    padding: 0;
    margin: 0;
    width: 100%;

    /* background-color: var(--body_bg); */
    background-color: var(--a_01);
    color: var(--body_fc_dark);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5 {
    /* Font Size & Weights */
    --fw_h1: 300;
    --fs_h1: 3rem;

    --fw_h2: 600;
    --fs_h2: 2.5rem;

    --fw_h3: 500;
    --fs_h3: 2.25rem;

    --fw_h4: 500;
    --fs_h4: 1.8rem;

    --fw_h5: 800;
    --fs_h5: 1rem;
    
    /* remove all defaults */
    padding: 0;
    margin: 0;
}

h5 {
    font-weight: var(--fw_h5);
    font-size: var(--fs_h5);
}

code 
{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
a 
{
    --a-light: var(--body_fc_light);
    --a-dark: var(--body_fc_dark);
    text-decoration: none;
    color: var(--body_fc_dark);
}

input[type='button']
button
{
         
    /* Buttons */
    --btn_tc_inactive: var(--c_05); /* button inactive text color */
    --btn_tc_active: var(--c_04); /* button active text color for hover and click */

    --btn_bg_dark: var(--title_bg_dark);

}


main
{ /* Element holding all pages in App.js */
    margin: 115px auto 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

article,
section 
{ 
    /* Backgrounds variables */
    --section_bg: var(--c_06); /* Lighter color to make it pop-out a bit more  */
}

.container
{ /* Based article class for all pages */
    margin: auto;
    padding: 1rem;
    width: 100%;
    border-radius: var(--br_05);
    border: var(--b_04);
    box-shadow: var(--bs_even_a01_lt);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: var(--section_bg);
}

.article-header
{ /* Used by each Page for title header element */
    border-bottom: var(--b_04);
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1rem;
    font-size: var(--fs_h2);
    font-weight: var(--fw_h2);
}

.article-content-container
{ /* Section element holding all content inside page  */
    border: var(--b_05);
}

/* .article-content{ 
TODO:: 05/01/22 #EP || Commented out but keeping for future dev goals.
    */
    /* border-bottom: var(--b_04); */
    /* margin: auto;
    max-width: 100%; */
    
    /* text-align: center; */
/* } */

.article-content,
.article-content-indent
{
    padding: 0 1rem;
}

.article-content-title
{ /* Used as a sub-header / title for the specific content within div.article-content container */
    font-weight: 500;
}

.article-content-indent,
.article-content-indent-list
{ /* Add-border so indent more prominent */
    border-left: var(--b_04);
    font-size: 1rem;
    font-weight: 400;
}

.article-content-indent-list ul
{ /* Add padding on left-side of all lists */
    padding: 0 0 0 2rem;
}

.article-content-indent h4,
.article-content-indent-list h4
{ /*  */
    /* padding-left: 1rem; */
    width: 100%;
    letter-spacing: 1px;
    padding-bottom: 1rem;
    font-size: var(--fs_h4);
    font-weight: var(--fw_h4);
}

.signature
{ /* Bottom of About page */
    width: 100%;
    padding: 1rem 0;
    font-style: italic;
}

/*------------------------------------------------------------------------------
components/header & components/header/navigation                              */

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--title_bg_dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 .2rem .3rem rgba(0,0,0,.5);
    transition: ease-in-out 200ms;
    z-index: 1000;
}


h1.title
{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0 1rem;
    text-align: center;
    align-items: center;

    font-size: var(--fs_h1);
    font-weight: var(--fw_h1);
    color: var(--title_fc_light);
}

img.title-img
{
    max-width: 40px;
    max-height: 40px;
    margin-right: 1rem;
    /* TOOD:: 03/19/2022 #EP || Add an image shadow */
}

nav 
{
    /* Variables */
    --nav-fc-light: var(--body_fc_light);
    --nav-fc-dark: var(--body_fc_dark);
    --nav-fc-active: var(--body_fc_light_active);

    /* Styling */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
    margin: auto 0;
    font-size: 1.2rem;
    letter-spacing: 1px;
    transition: ease-in-out 200ms;
}

nav a
{
    color: var(--nav-fc-light);
}

h1.title,
.nav
{
    color: var(--title_fc_light);
    border-bottom: 3px solid transparent;
    transition: ease-in-out 200ms;
}

h1.title:hover,
.nav:hover
{
    text-shadow: 0 0 0 var(--accent_p);
}

.nav:hover
{
    cursor: pointer;
    border-bottom: 3px solid var(--accent_p);
}

.nav.nav-active a,
.nav.nav-active
{ /* if the current location */
    color: var(--nav-fc-active);
    border-bottom: 3px solid var(--nav-fc-light);
}

/*------------------------------------------------------------------------------
PROJECTS                                                                      */

#projects-container
{ /* Section holding all projects */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--a_01);
    flex-wrap: wrap;
    grid-gap: 2rem;
    /* padding: .5rem; */
    border-radius: var(--br_05);
    border: var(--b_04);
}

.projects-card
{ /* Each individual project card */
    z-index: 10;
    min-height: 400px;
    min-width: 300px;
    max-width: 300px;
    border: var(--b_04);
    border-radius: var(--br_05);
    box-shadow: var(--bs_even_a01_hvy);
    background-color: var(--section_bg);
    transition: ease-in-out 200ms;
    text-align: left;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-gap: 1rem;
}

.projects-title
{ /* Each Project Card's title value */
    text-align: center;
    font-size: var(--fs_h3);
    font-weight: var(--fw_h3);
    margin: 1rem 0 0;
}

.projects-summary span p,
.projects-summary
{
    flex: 100%;
    text-align: center;
    width: 100%;
    font-size: 1.25rem;
    margin: .5rem 0;
}

.projects-card div
{
    margin: auto 0;
    padding: 0 1rem;
    flex: 40%;
    width: 100%;
}
.projects-card div.projects-head
{ /* Contains the Project Title, Summary, and Expand button  */
    flex: 100%;
    text-align: center;
}

.projects-card div.project-about
{ /* Left column IN EACH project which is the project description ( about section ) */
    height: inherit;
    line-height: 1.6;
    letter-spacing: 1px;
    flex: 40%;
    margin: 0;
    text-align: justify;
    border-right: var(--b_04);
}

.project-about-description
{
    margin: 1rem;    
}

.projects-card div.nerd-notes
{ /* right column which is Framework */
    line-height: 1.6;
    letter-spacing: 2px;
    flex: 40%;
    float: right;
    /* padding: 0; */
    height: inherit;
    margin: 0;
}

.project-technology-group
{ /* Span holding each group within framework Title */
    margin: 0;
} 
.project-framework
{ /* UL within each project that contains Project Framework / Nerd Note Details. */
    padding: 0;
    margin: 0;
}

.project-website
{
    transition: ease-in-out 200ms;
    text-decoration: underline;
    letter-spacing: 1px;
}

.project-website:hover
{
    font-size: 1.01rem;
    letter-spacing: 1.1px;
}

.project-expand {
    /* width: 100%;
    text-align: center;
    float: 100%; */
    display: none;
}

/* .project-about,
.nerd-notes {
    display: none;
} */


/*------------------------------------------------------------------------------
ABOUT                                                                         */
.about-div {
    display: inline-block;
}

.about-link
{ /* Buttons that navigates to other pages on About */
    /* width: fit-content; */
    min-width: 10rem;
    background: var(--title_bg_dark);
    color: var(--title_fc_light);
    padding: .25rem;
    
    border-radius: var(--br_25);
    cursor: pointer;
    transition: ease-in-out 200ms;
}

.about-link:hover
{ /* Buttons that navigates to other pages on About */
    background: var(--title_bg_dark);
    color: var(--accent_p);
}

div.project-about,
div.nerd-notes
{ /* Remove border inherited by article-content-indent but retain other styles */
    border-left: none;   
}

.article-content.media-description
{ /* Summary above the Image/GIF within each project */
    font-weight: 500;
    text-align: center;
    margin: 0 10%;
}

.projects-card img
{ /* Image/GIF within each project */
    margin: 0 auto;
    border-radius: var(--br_05);
    max-width: 100%;
    object-fit: contain;
    object-position: center;
    transition: ease-in-out 200ms;
    box-shadow: var(--bs_even_a01_hvy);
}
/* .projects-card iframe
{ /* 05/01/22 #EP || Originally used in the Image Manager Card to show map. Commented out at this time * /
    border-radius: var(--br_05);
    width: 100%;
    flex: 100%;
    width: 100%;
} */

.flex_100
{ /* Used by project cards style value. */
    flex: 1 100%;
    max-width: 100%;
}

.flex_50
{ /* Used by project cards style value. */
    flex: 100%;
    max-width: 100%;
}

.projects-card img:hover
{
    box-shadow: var(--bs_even_a01_lt);
}

.projects-card:hover
{ /* Minor responsiveness to UI Cards */
    box-shadow: var(--bs_even_a01_lt), var(--bs_even_a01_hvy);
    filter:brightness(100%);
}

/*------------------------------------------------------------------------------
components/footer                                                             */

footer
{
    z-index: 1000;
    position: fixed;
    bottom: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--title_bg_dark);
    color: var(--title_fc_light);
    transition: ease-in-out 200ms;
}
.footer-copyright
{
    margin-bottom: .5rem;
}
.footer-social
{ /* Social links */
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
}
footer a
{ /* Social links */
    color: var(--title_fc_light);
}

/*------------------------------------------------------------------------------
pages/contact                                                                 */

.contact-form
{
    padding: 0 .5rem;
    border-radius: var(--br_25);
    border: var(--b_04);
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    grid-gap: 1rem;
    transition: ease-in-out 200ms;
}
.form-element
{
    flex: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: .25rem 0;
    transition: ease-in-out 200ms;
}
#recaptcha *
{ /* Making sure ALL elements within ReCAPTCHA are minified and centered */
    align-items: center;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}
    
select,
.form-element textarea,
.contact-form input, 
.contact-form select,
.contact-form input 
{ /* Contact Form element universal styling */
    text-align: center;
    font-size: 1rem;
    align-items: center;
    text-align-last:center; 
    background-color: var(--body_bg);
    border-radius: var(--br_25);
    min-height: 3rem;
    transition: ease-in-out 200ms;
    border: var(--b_04);
}
.contact-form label
{
    font-weight: 500;
    padding: .5rem 0 0 0;
} 
.form-element textarea
{
    padding: .5rem;    
}
input[type=select],
.form-element textarea
{
    width: 100%;
    border-radius: var(--br_25);
    box-shadow: inset 0 0 .1rem rgba(0,0,0,1);
}
input[type=submit].button
{
    border-radius: var(--br_25);
    width: 100%;
    margin: 1rem 0 ;
    padding: 2rem 0;
    background: var(--title_bg_dark);
    color: var(--title_fc_light);
    font-weight: 500;
    transition: ease-in-out 200ms;
    font-weight: 800;
}
input[type=submit]:hover
{
    color: var(--accent_p);
    cursor: pointer;    
}
.form-element textarea:hover,
.form-element textarea:focus,
.form-element textarea:focus-visible,
.form-element textarea:not(:placeholder-shown),
.contact-form select:focus,
.contact-form select:focus-visible,
.contact-form select:not(:placeholder-shown),
.contact-form input:focus,
.contact-form input:focus-visible,
.contact-form input:not(:placeholder-shown),
.contact-form input:hover
{ 
    background-color: var(--section_bg);
    border: var(--b_03);
    font-size: 1.1;
    outline: none;
}



/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/
/* 
                              MEDIA TYPES
*/
/*////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/

/*------------------------------------------------------------------------------
1200                                                                          */
@media (min-width: 1200px) 
{ /*  Ensure content fits in middle of screen */
    header
    {    
        padding: 0 7vw;
        justify-content: space-around;
    }
    header h1
    {
        max-width: 490px;
    }
    nav
    {
        max-width: 570px;
    }
}

/*------------------------------------------------------------------------------
1000                                                                          */
@media (min-width: 1000px) 
{ /*  Ensure content fits in middle of screen and look clean */
    nav
    {
        height: 100%;
        flex: 50%;
    }
    .article-content-container
    {
        padding: 1rem 3em;
    }
    #projects-container
    { /* Adding spacing around for more dynamic viewing experience */
        background-color: var(--body_bg);
        padding: .25rem;
    }
}


/*------------------------------------------------------------------------------
800                                                                           */
@media (min-width: 800px){
}


/*------------------------------------------------------------------------------
600                                                                           */
@media (min-width: 600px) {
    /*--------------------------------------------------------------------------
    root elements                                                             */
    h1,h2,h3,h4,h5
    { 
        /* Font Size & Weights */
        --fw_h1: 300;
        --fs_h1: 2rem;
    
        --fw_h2: 400;
        --fs_h2: 2.8rem;
    }

    /*--------------------------------------------------------------------------
    components/header & components/header/navigation                          */
    
    header
    { /* Update so more desktop friendly */
        flex-direction: row;
        justify-content: space-evenly;
    }
    header.h1, 
    nav
    { /* Update nav so more desktop friendly */
        justify-content: space-around;
    }
    header.h1
    { /* Take up less space */
        flex: 10%;
    }
    nav
    { /* Take up less space */
        flex: 20%;
    }

    .title-img
    { /* Remove padding around edges, add to top/bottom for cleaner feel */
        margin: .25rem 0;
    }

    /*--------------------------------------------------------------------------
    App.js                                                                    */
    main
    {  /* Container holding  */
        margin: 100px 0;
    }
   
    .container{
       padding: 2rem;
       min-height: 60vh;
       width: 95%;
       max-width: 1100px;
   } 

   .article-content{
        /* border-bottom: var(--b_04); */
        margin: auto;
        max-width: 100%;
        line-height: 1.6;
        padding: 0 3rem;
        /* text-align: center; */
    }
    
    /* For when flex_50, side border in line with nerd notes side border */
    .flex_50.projects-card div.project-about{
        margin: 1rem;
        padding: 1rem;
        flex: 100%;
    }

   .article-content-indent-list ul{
        /* padding: 0 1.0417rem; */
        
    }

    
    .projects-card{
        grid-gap: 1rem;
    }
    
    .projects-card iframe{
        min-height: 450px;
        min-width: 600px;
    }

    .flex_50{
        flex: 40%;
        max-width: 50%;
    }

    /*--------------------------------------------------------------------------
    components/footer                                                         */
    footer{
        justify-content: space-evenly;
        flex-direction: row;
    }
    .footer-social{
        gap: 4rem;
    }

}