.checkboxes {
    width: 10%;
    border: 1px solid red;
}

/* Hide input off-screen */
input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    left: -9000px;
    top: -9000px;
}
input[type="checkbox"].toggle + label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    /* background-color: white; */
  }

/* The input container */
input[type="checkbox"].toggle + label::before {
    content: "";
    /* width: 2em; */
    min-width: 51px;
    /* height: 1em; */
    min-height: 31px;
    background-color: #E9E9EB;
    border-radius: 1rem;
    margin-right: .25rem; /* space after container holding check */
    box-shadow: inset 0.25px 0px .5px rgba(0,0,0,.5);
    transition: background-color 200ms ease-in-out, box-shadow 200ms ease-in-out; 
  }

  /* The circle */
input[type="checkbox"].toggle + label::after {
    position: absolute;
    content: "";
    font-size: .5rem;
    left: .1rem;
    /* width: 1.8rem; */
    min-width: 27px;
    /* height: 1.8rem; */
    min-height: 27px;
    background-color: white;
    border-radius: 1rem;
    transition: transform 200ms ease-in-out, box-shadow 200ms ease; 
    box-shadow: 0.25px 0px .75px rgba(0,0,0,.5);
}

/* The container FOCUSED */
input[type="checkbox"].toggle:focus + label::before{
  box-shadow: inset 0px 0px 1px rgba(0,0,0,.5);  
  
}

input[type="checkbox"].toggle:hover + label::before{
    box-shadow: inset 0px 0px .9px rgba(0,0,0,.5);
}

/* The circle HOVERED */
input[type="checkbox"].toggle:hover + label::after{
    box-shadow: 0px 0px 1px rgba(0,0,0,1);
}

/* The container around circle */
input[type="checkbox"].toggle:checked + label::before {
  /* background-color: hsl(100, 70%, 90%); */
  background-color: #67c263;
  transition: background-color 200ms ease-in-out, box-shadow 200ms ease;
}

/* circle moved right when clicked */
input[type="checkbox"].toggle:checked + label::after {
  transform: translateX(77%);
}

/* container background Disabled */
input[type="checkbox"].toggle:disabled + label {
  color: #777;
}
/* circle Disabled false */
input[type="checkbox"].toggle:disabled + label::before {
  background-color: #CCC;
}
/* container background Disabled true */
input[type="checkbox"].toggle:disabled + label::after {
  background-color: #777;
}

