/*----------------------------------------------------------------------------*/
/* ROOT START*/
:root {
    /* Color Theming */
    --color_Hover: royalblue; /* A mix of cyan + blue */
    --color_Primary: rgb(52, 90, 166); /* A mix of cyan + blue */
    --color_Secondary: #F9F9F9; /* A very light shade of gray */
    --color_Tertiary: #69E5CC; /*A Turquoise Blue*/
    
    --bg_Primary: rgb(40, 41, 35);  /* dark black grey 1 */
    --bg_Secondary: rgb(36, 41, 35); /* dark black grey 2 */
    --bg_Teriary: rgb(55, 61, 67); /* lighter grey */

    --btn_txt_inactive: rgb(241, 230, 213);
    --btn_txt_active: rgb(242, 250, 245);

    --margin_Primary: 10px;

    /* Universal shadowing */
    --shadow_color:  rgba(0,0,0,.25);
    --shadow_1px_25a: 2px solid var(--shadow_color);
}
/* ROOT END */
/*----------------------------------------------------------------------------*/
/* UNIVERVSAL STYLING START */
* {
    box-sizing: border-box; /* Account for parent element pading. ( Keeps elements from overflowing containers) */
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color_Secondary);
    font-family: Roboto, Arial, sans-serif;
    
}

a {
    text-decoration: none; /* makes sure hyperlinks don't have styling */
}

h1,
h2,
h3,
h4,
h5 {
    /* removing all default padding around headers */
    margin: 0;
    padding: 0;
}
h1 {
    font-weight: 100;
    font-size: 3rem;
}
h2 {
    font-weight: 400;
    font-size: 2rem;
}
h3 {
    font-weight: 400;
    font-size: 1.2rem;
}

.text-left {
    text-align: left;
    float: left;
  }
  
  .text-right {
    text-align: right;
    float: right;
  }


/* UNIVERVSAL STYLING END */
/*----------------------------------------------------------------------------*/
/* HEADER START */

header {
    background-color: var(--color_Primary);
    text-align: center;
    vertical-align: middle;
    position: -webkit-sticky; /* required for cross compatibility */
    position: sticky;  
    top: 0; /* Top of the website */
    z-index: 100;
    
}

header h1 {
    color: var(--color_Secondary);
    display: inline; /* photo inline w text */
    padding: .5rem 0rem .5rem 1rem;
}

header img {
    vertical-align: middle; /* makes sure stays center with h1 text.*/
    height: 3rem;
}

/* HEADER END */
/*----------------------------------------------------------------------------*/
/*HEADER NAV START */


header, 
nav ul {
    list-style: none;
    display: flex;
    justify-content:space-evenly;
}
header nav ul li {
    padding: 0;
    margin: 1rem 2rem;
    font-size: 1.25rem;
    font-weight: 100;
}
header h1 a,
header nav ul li a {
    color: white;
}

/*HEADER NAV END */
/*----------------------------------------------------------------------------*/
/* SECTION START */
section.parent {
    border-top: var(--shadow_1px_25a);
    display: flex;
    flex-direction: row; /* flex-direction: row | row-reverse | column | column-reverse */
    flex-wrap: wrap;
    justify-content: space-between; /* space-between | space-around */
    margin: 4rem;
}
section > :first-child{
    /* The Section Title H2 */
    flex: 100%;
    margin: 1rem;
} 
article.content { 
    background-color: var(--color_Primary);
    height: 100%;
    min-width: 254px;
    flex: 100%; /* fit 100% of page for now */
    box-shadow:0 -.5rem .5rem rgba(0,0,0,.25); /* offset-x | offset-y | blur-radius | color */
    border-radius: 1rem; /* top-left | top-right | bottom-right | bottom-left */
}
button.content {
    /* Each About Me Section */
    background-color:transparent;
    color: var(--btn_txt_inactive);
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
    width: 100%;
    height: 100%;
    padding: 0;
    height: 4rem;
    min-height: 3rem;
}
button.content {
    height:100%;
}
p.content.hidden {
    /* article content */
    min-height: 1rem;
    padding: 1rem;
    margin: 0;
    background-color: white;
    overflow: hidden;
    border-top: var(--shadow_1px_25a);
    text-align: center;    
}
article:hover {
    background-color: var(--color_Hover);
    box-shadow: 0 -1rem 1rem rgba(0,0,0,.5); /* offset-x | offset-y | blur-radius | color */
}
section.divider{
    
}

  /* SECTION END */
/*----------------------------------------------------------------------------*/
/* ABOUT ME START */

.point {
    font-weight: 900;
}

/* ABOUT ME END */
/*----------------------------------------------------------------------------*/
/*HERO START */

/*HERO END */
/*----------------------------------------------------------------------------*/
/* FOOTER START */

footer {
    border-top: var(--shadow_1px_25a);
    margin-top: var(--margin_Primary);
    display: flex;
}

/* FOOTER END */


/*----------------------------------------------------------------------------*/
/* MEDIA START */

@media screen and (max-width: 990px){
    /*------------------------------------------------------------------------*/
    /* HEADER START */
    header {
        position: relative; /* Make header no longer sticky */
    }

    header h1 {
        font-size: 2.5rem;
        padding: .5rem 0 .5rem 0;
        position: sticky;
        top: 0;
        background-color: var(--color_Primary); /* makes it over-top of everything else */
        z-index: 99;
        border-bottom: var(--shadow_1px_25a);
    }
    header h1 a span {
        height: 100%;
    }
    /* HEADER END */
    /* NAV START */
    header,
    header nav ul {
    /* shifts to column view */
        flex-direction: column;
        width: 100%; /* its 100% of parent container */
        padding: 0;
        margin: 0;
    }
    
    header nav ul li {
        border-top: var(--shadow_1px_25a);
        padding: 1.5rem 0; /* space around buttons */
        margin: 0; /* fits full width */
        font-size: 1.5rem;
        font-weight: 200;
    }
   
    /* HEADER & NAV END */
    
    nav {
        overflow: hidden;
    }
}

@media screen and (max-width: 360px){


}
/* MEDIA END */
/* CSS EVENT EFFECTS START */
