/*----------------------------------------------------------------------------*/
/* ROOT START*/
:root {
    /* Color Theming */
    --color_Primary: rgb(52, 90, 166); /* A mix of cyan + blue */
    --color_Secondary: #F9F9F9; /* A very light shade of gray */
    --color_Tertiary: #69E5CC; /*A Turquoise Blue*/
    
    --bg_Primary: rgb(40, 41, 35);  /* dark black grey 1 */
    --bg_Secondary: rgb(36, 41, 35); /* dark black grey 2 */
    --bg_Teriary: rgb(55, 61, 67); /* lighter grey */

    --btn_txt_inactive: rgb(241, 230, 213);
    --btn_txt_active: rgb(242, 250, 245);

    --margin_Primary: 10px;

    /* Universal shadowing */
    --shadow_1px_25a: 2px solid rgba(0,0,0,.25)
}
/* ROOT END */
/*----------------------------------------------------------------------------*/
/* UNIVERVSAL STYLING START */
* {
    box-sizing: border-box; /* Account for parent element pading. ( Keeps elements from overflowing containers) */
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color_Secondary);
    font-family: Roboto, Arial, sans-serif;
    
}

a {
    text-decoration: none; /* makes sure hyperlinks don't have styling */
}

h1,
h2,
h3,
h4,
h5 {
    /* removing all default padding around headers */
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 100;
    font-size: 3rem;
}

h2 {
    font-weight: 400;
    font-size: 2rem;
}

.text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
    float: right;
  }


/* UNIVERVSAL STYLING END */
/*----------------------------------------------------------------------------*/
/* HEADER START */

header {
    background-color: var(--color_Primary);
    text-align: center;
    vertical-align: middle;
    position: -webkit-sticky; /* required for cross compatibility */
    position: sticky;  
    top: 0; /* Top of the website */
}

header h1 {
    color: var(--color_Secondary);
    display: inline;
    padding: .5rem 0rem .5rem 1rem;
}

header img {
    vertical-align: middle; /* makes sure stays center with h1 text.*/
    height: inherit;
}

/* HEADER END */
/*----------------------------------------------------------------------------*/
/*HEADER NAV START */


header, 
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    

}
header nav ul li {
    padding: 0;
    margin: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 400;
}

header h1 a,
header nav ul li a {
    color: white;
}

img.about-me {
    height: 3rem;
    filter: invert(100%);
}

/*HEADER NAV END */
/*----------------------------------------------------------------------------*/
/* SECTION START */
div.content {
    padding: 2rem 2rem; 
    border-top: var(--shadow_1px_25a);
    
    display: flex;
    flex-direction: row; /* flex-direction: row | row-reverse | column | column-reverse */
    flex-wrap: wrap;
    justify-content: space-between; /* space-between | space-around */
  }

  div.content article {   
      width: 100%;
  }
  article.content {
    display: flex;
    flex-direction: row; /* flex-direction: row | row-reverse | column | column-reverse */
    flex-wrap: wrap;
  }
  
/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 1rem;
    
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    flex: 32%;
    display: flex;
    min-width: 200px;
  }
  h3.content {
      width: 100%;
      text-align: center;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    flex: 68%;
  }


  /* SECTION END */
/*----------------------------------------------------------------------------*/
/* ABOUT ME START */

.point {
    font-weight: 900;
}

/* ABOUT ME END */
/*----------------------------------------------------------------------------*/
/*HERO START */

/*HERO END */
/*----------------------------------------------------------------------------*/
/* FOOTER START */

footer {
    border-top: var(--shadow_1px_25a);
    margin-top: var(--margin_Primary);
    display: flex;
}

/* FOOTER END */


/*----------------------------------------------------------------------------*/
/* MEDIA START */

@media screen and (max-width: 990px){
    /*------------------------------------------------------------------------*/
    /* HEADER START */
    header {
        position: relative; /* Make header no longer sticky */
    }

    header h1 {
        font-size: 4rem;
        padding: 1rem 0;
        position: sticky;
        top: 0;
        background-color: var(--color_Primary); /* makes it over-top of everything else */
        z-index: 99;
        border-bottom: var(--shadow_1px_25a);
    }
    header h1 a span {
        height: 100%;
    }
    /* HEADER END */
    /* NAV START */
    header,
    header nav ul {
    /* shifts to column view */
        flex-direction: column;
        width: 100%; /* its 100% of parent container */
        padding: 0;
        margin: 0;
    }
    
    header nav ul li {
        border-top: var(--shadow_1px_25a);
        padding: 1.5rem 0; /* space around buttons */
        margin: 0; /* fits full width */
        font-size: 3rem;
        font-weight: 200;
    }
   
    /* HEADER & NAV END */
    
    nav {
        overflow: hidden;
    }

@media screen and (max-width: 360px){

}
/* MEDIA END */