/*----------------------------------------------------------------------------*/
/* ROOT START*/
:root {
    /* Color Theming
        Some exist in just one spot but still here to make easy for quick changes.
    */
    --color_Primary: #172a35;
    --color_title: #fefdff;
    --font_title: #0b132b;
    /* Backgrounds */
    --bg_Body: #F9F9F9; /* A very light shade of white gray */    
    --bg_Section: #fefdff; /* A variation of white gray  */
    /* Buttons */
    --btn_txt_inactive: #F9F9F9;
    --btn_txt_active: #6fffe9;
    /* Accent Colors */
    --accent_Primary: #4ed1c4;
    /* Borders and Shadows */
    --boxShadow: 0 -.5rem .5rem rgba(0,0,0,.25); /* offset-x | offset-y | blur-radius | color */
    --boxShadow_Hover: 0 -1rem 1rem rgba(0,0,0,.5); /* offset-x | offset-y | blur-radius | color */
    --shadow_color:  rgba(0,0,0,.25);
    --shadow_1px_25a: 2px solid var(--shadow_color);
}
/* :ROOT END */
/*----------------------------------------------------------------------------*/
/* UNIVERVSAL STYLING START */
* {
    box-sizing: border-box; /* Account for parent element pading. ( Keeps elements from overflowing containers) */
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg_Body);
    font-family: Roboto, Arial, sans-serif;
}
a {
    /* makes sure hyperlinks don't have styling */
    text-decoration: none; 
}
h1,h2,h3 {
    /* removing all default padding around headers */
    margin: 0;
    padding: 0;
}
h1 {
    font-weight: 300;
    font-size: 3rem;
}
h2 {
    padding-top: 5rem;
    font-weight: 450;
    font-size: 2.5rem;
}
h3 {
    font-weight: 400;
    font-size: 1.5rem;
}
button {
    /* universal button configuration */
    background-color:transparent;
    color: var(--btn_txt_inactive);
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
    width: 100%;
    height: 100%;
    padding: 0;
    min-height: 3rem;
    height: 4rem;
}
button:hover {
    color: var(--btn_txt_active);
}
.text-left {
    /* Used to push elements around */
    text-align: left;
    float: left;
} 
.text-right {
    /* Used to push elements around */
    text-align: right;
    float: right;
}
.icon {
    /*used for fav icons*/
    color: var(--accent_Primary);
    border-bottom: var(--shadow_1px_25a);
}
/* UNIVERVSAL STYLING END */
/*----------------------------------------------------------------------------*/
/* HEADER START */
header {
    background-color: var(--color_Primary);
    position: -webkit-sticky; /* required for cross compatibility */
    position: sticky;  
    top: 0; /* Top of the website */
    z-index: 100;
    overflow: none;
    border-bottom: solid .5px var(--accent_Primary);
}
header h1 {
    height: 100%;
    padding-top: 1rem;
}
header h1 a,
header h1 {
    display: inline; /* photo inline w text */
}
header img {
    vertical-align: middle; /* makes sure stays center with h1 text.*/
    height: 3rem;
}
/* HEADER END */
/*----------------------------------------------------------------------------*/
/*HEADER NAV START */
header, 
nav ul {
    list-style: none;
    display: flex;
    justify-content:space-evenly;
}
header nav ul li {
    margin: 1rem 2rem;
    font-size: 1.25rem;
    font-weight: 100; 
}
header h1 a,
header nav ul li a {
    color: var(--btn_txt_inactive);
}
header h1 a:hover,
header nav ul li a:hover {
    transition: 0.4s;
    color: var(--btn_txt_active);
}
/*HEADER NAV END */
/*----------------------------------------------------------------------------*/
/* SECTION START */
section h2 {
    /* The Section Title H2 */
    flex: 100%;
    margin: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
section.parent {
    border-top: var(--shadow_1px_25a);
    display: flex;
    flex-direction: row; /* flex-direction: row | row-reverse | column | column-reverse */
    flex-wrap: wrap;
    justify-content: space-between; /* space-between | space-around */
    margin: 4rem;
}
.hidden {
    /* hide content for hover events */
    display: none;
}
.point {
    /* used to tag a key point stick out */
    font-weight: 500;
}
  /* SECTION END */
/*----------------------------------------------------------------------------*/
/* ABOUT ME START */
article.about-me { 
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    min-width: 254px;
    flex: 100%; /* fit 100% of page */
    background-color: var(--color_Primary);
    box-shadow: var(--boxShadow);
    border-radius: 1rem; /* top-left | top-right | bottom-right | bottom-left */
}
article.about-me:hover  {
    transition: 0.4s;
    background-color: var(--color_Primary);
    box-shadow: var(--boxShadow_Hover);
}
article.about-me:hover .hidden{
    display: block;
}
p.about-me {
    /* article content */
    min-height: 1rem;
    padding: 1rem 10rem;
    margin: 0;
    background-color: var(--bg_Section);
    overflow: hidden;
    border-top: var(--shadow_1px_25a);
    text-align: center;    
}
/* ABOUT ME END */
/*----------------------------------------------------------------------------*/
/* PROJECTS START */
article.project { 
    background-color: var(--color_Primary);
    height: 100%; /* makes header fit container */
    flex: 40%;
    box-shadow: var(--boxShadow);
    border-radius: 1rem; /* top-left | top-right | bottom-right | bottom-left */
    margin: 0 .5rem .5rem 0;
    overflow: hidden;
}
article.project:first-of-type { 
    /* makes first project fit 100% */
    flex: 100%;
}
article.project:hover  {
    transition: 0.4s;
    background-color: var(--color_Primary);
    box-shadow: var(--boxShadow_Hover);
}

p.project {
    /* Project Summary */
    color: var(--color_Primary);
    background-color: var(--bg_Section);
    border-top: var(--shadow_1px_25a);
    text-align: center;    
    padding: .5rem;
}
img.project {
    /* Fit container and partially transparent */
    width: 100%;
    transition: 0.4s;
    opacity: 50%;
}
img.project:hover {
    /* When hovering IMG, adds color to indicate hovered */
    opacity: 100%;
}
/* PROJECTS END */
/*----------------------------------------------------------------------------*/
/*CONTACT START */

section.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* space-between | space-around */
}
a button.contact { 
    flex: 30%;
    background-color: var(--color_Primary);
    box-shadow: var(--boxShadow);
    border-radius: 1rem; /* top-left | top-right | bottom-right | bottom-left */
    padding: 5rem;
    font-size: 2rem;
    text-align: center;
    color: var(--btn_txt_inactive);
}
/*CONTACT END */
/*----------------------------------------------------------------------------*/
/* FOOTER START */
footer {
    background-color: var(--color_Primary);
    color: var(--accent_Primary);
    border-top: var(--shadow_1px_25a);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: .15rem .5rem;
}

/* FOOTER END */


/*----------------------------------------------------------------------------*/
/* MEDIA START */

@media screen and (max-width: 990px){
    /*------------------------------------------------------------------------*/
    h3 {
        font-size: 1.1rem;
    }
    
    /* HEADER START */
    header {
        text-align: center; /* centers in rows */
        position: relative; /* Make header no longer sticky */
    }
    header h1 {
        font-size: 2.5rem;
        padding: .5rem 0 .5rem 0;
        /* make it over-top of everything else */
        position: sticky;
        z-index: 99;
        top: 0;
        background-color: var(--color_title);
    }
    header h1 a {
        color:var(--font_title);
        
    }
    /* HEADER END */
    /* NAV START */
    header,
    header nav ul {
    /* shifts to column view */
        flex-direction: column;
        width: 100%; /* its 100% of parent container */
        padding: 0;
        margin: 0;
        border-bottom: var(--shadow_1px_25a);
    }
    
    header nav ul li {
        border-top: var(--shadow_1px_25a);
        padding: .25rem 0; /* space around buttons */
        margin: 0; /* fits full width */
        font-size: 1.5rem;
        font-weight: 200;
    }
    
    nav {
        overflow: hidden;
    }
    /* */
    /* SECTION START */
    section.parent {
        margin: 1rem;
    }
    /* SECTION END */
    p.about-me {
        /* Make fit box, still look good */
        margin: 0;
        padding: 1rem;
    }
    /*CONTACT START */
    section.contact button.contact {
        width: 100%;
        margin: 0 0 1rem 0;
    }
    /*CONTACT END */
    footer {
        margin-top: 1rem;
    }
}
/* MEDIA END */
/* CSS EVENT EFFECTS START */
